/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


.top-bar, .footer{  
  background-color: #171717;
  height: 75px;
}

.top-bar{
border-bottom: solid 1px #e28413;
}

.top-bar:hover{
-webkit-box-shadow:0px 0px 174px 0px rgba(109,192,213,0.9);
-moz-box-shadow: 0px 0px 174px 0px rgba(109,192,213,0.9);
box-shadow: 0px 0px 174px 0px rgba(109,192,213,0.9);
}

.footer{
    height: 100px;
    border-top: solid 1px #6DC0D5;
}

.footer:hover{
  -webkit-box-shadow:0px 0px 174px 0px rgba(226,133,19,0.9);
-moz-box-shadow: 0px 0px 174px 0px rgba(226,133,19,0.9);
box-shadow: 0px 0px 174px 0px rgba(226,133,19,0.9);
}

.footer-text{
  font-size: 12px;
}

.home-link{
  font-size: 30px;
}

.about-us, .faq, .form, .about, .local{
  text-align: center;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034);
  height: 300px;
  background: #60656f;
  border: solid 3px #fffbfe;
  transition: filter .3s ease-in-out
}

.faq, .form, .about, .local{
  height: 300px;
  border-top: solid 4px #fffbfe;
  border-bottom: solid 4px #fffbfe;
  border-left: 0px;
  border-right: 0px;
  background-color: #000;
}

.faq, .form, .about, .local, .small-image, .local-tile{
  margin: 10px;
  filter: grayscale(35%);
  -webkit-filter: grayscale(35%); 
  background-image: url("faq.png");
  background-size: cover;
  text-shadow: 0 0 3px black;
}
.faq:hover, .form:hover, .about:hover, .local:hover{
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%); 
  transition-duration: 2.0s ease;
  border-top: solid 4px #e28413;
  border-bottom: solid 4px #e28413;
  transition: filter .3s ease-in-out;
}

.local-tile, .welcome{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); 
  background-image: url("color.jpg");
  background-size: cover;
  border-top: solid 2px #6DC0D5;
  border-bottom: solid 2px #6DC0D5;
  max-height: 100%;
}

.welcome{
  filter: grayscale(30%);
  -webkit-filter: grayscale(30%); 
  color: #fffbfe;
  text-align: center;
}

.local-tile:hover, .welcome:hover, .all-locals:hover, .faq-panel:hover, .submit-local:hover, .your-profile:hover{
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%); 
  transition-duration: 2.0s ease;
  transition: filter .3s ease-in-out;
  -webkit-box-shadow:0px 10px 39px 11px rgba(255,251,254,0.19);
  -moz-box-shadow: 0px 10px 39px 11px rgba(255,251,254,0.19);
  box-shadow: 0px 10px 39px 11px rgba(255,251,254,0.19);
}

.form{
  background-image: url("form.jpg");
}
.about{
  background-image: url("about.jpg");
}
.local{
  height: 150px;
}

.container{
  display: inline-block;
}

.faq-text, .form-text, .about-text, .card-text{
  margin-top: 87px;
  backdrop-filter: blur(3px);
}

.game{
  background-image: url("game.jpg");
  background-size: cover;
}

.game:hover, .state:hover, .day:hover
  {
    filter: none;
    -webkit-filter: grayscale(0);
    backdrop-filter: blur(0.5px);
    border: solid 3px #e28413;
    transition: filter .3s ease-in-out
}

.form-tile {
  margin: 0% 10%;
  border-color: #6DC0D5;
}

.blue{
  background-color: #6DC0D5;
  margin-right: 10px;
}

.input {
  color: red;
}

.title-box{
  background-color: #000;
  text-align: center;
}

.social {
  margin-right: .25rem;
}

.social.facebook {
  background-color: #3b5998;
  color: #fefefe;
}

.social.facebook:hover, .social.facebook:focus {
  background-color: #2f477a;
  color: #fefefe;
}

.social.twitter {
  background-color: #55acee;
  color: #fefefe;
}

.social.twitter:hover, .social.twitter:focus {
  background-color: #1a8fe8;
  color: #fefefe;
}

.social.website {
  background-color: #3a3a3a;
  color: #fefefe;
}

.social.website:hover, .social.website:focus {
  background-color: #2b2b2b;
  color: #fefefe;
}
  
.small-image{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 3px;
  border: solid 1px #6DC0D5;
}

.small-image:hover{
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%); 
  transition-duration: 2.0s ease;
  border: solid 1px #e28413;
  transition: filter .3s ease-in-out;
}
  
.nav-text, .sign-text, .welcome-text {
  color: #fffbfe;
}

.nav-text:hover{
  color: #6DC0D5;
}

.sign-text:hover, .welcome-text:hover, .card-text:hover{
  color: #e28413;
}

.social-icon{
  height: 30px;
  width: 30px;
}

.card{
  margin: 10px;
  border-top: 2px solid #6DC0D5;
  border-bottom: 2px solid #6DC0D5;
}

.small { 
  font-size:40%;
  color: #fffbfe;
 }

.username, .social-link{
  text-align: center;
  background-image: url("ryu.png");
  color: #171717;
  margin-top: 3px;
}

.bio{
  text-align: center;
  font-size: 15px;
}

.role-date{
  font-size: 10px;
}

.icon{
  background-image: url("logo.png");
}

.bio-text{
  color: #fffbfe;
}

.all-locals, .submit-local, .faq-panel, .your-profile{
  height: 300px;
}

.all-locals{
  background-image: url("sfv.jpg");
  background-size: cover;
  margin-right: 70px;
}
.submit-local{
  background-image: url("soul.jpg");
  background-size: cover;
}
.faq-panel{
  background-image: url("kof.jpg");
  background-size: cover;
  margin-right: 70px;
}
.your-profile{
  background-image: url("mk11.jpg");
  background-size: cover;
}

.card-text{
  color: #fffbfe;
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 1px 3px black;
}

.logo{
  height: 75px;
}